html{
	height: 100%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;	
	background-color: #dfe6e9;
	font-family: sans-serif;
	color: #212529;
	font-size: 20vw;
	font-weight: bold;
	cursor: pointer;
	height: 100%; 
	margin: 0;
	padding: 0;
}

#timer{
	user-select: none;
	display: flex;
}

#minute{
	color: #2d3436;
}

#seconds{
	color: #636e72;
	font-weight: normal;
}