:root {
  --bg-color: #dfe6e9;
  --color: #212529;
  --min-color: #2d3436;
  --sec-color: #636e72;
  --slide-color: #becacf;
  --slideB-color: #66bb6a;
  --shadow-color: gray;
  --table-back-title-color: #6a7b80;
}

[data-theme="dark"] {
  --bg-color: #2d3436;
  --color: #b2bec3;
  --min-color: #636e72;
  --sec-color: #8395a7;
  --slide-color: #8395a7;
  --slideB-color: #3e7340;
  --shadow-color: #242424;
  --table-back-title-color: #3d474a;
}

body {
  background-color: var(--bg-color);
  color: var(--color);
  font-family: sans-serif;
  letter-spacing: 0.2em;
  margin: 0px;
}

.settingClose > li {
  animation-duration: 0.2s;
  animation-name: settingBrochureClose;
}

.settingOpen > li {
  animation-duration: 0.2s;
  animation-name: settingBrochureOpen;
}
.setting-animated {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 10px;
  width: max-content;
  animation-name: setting;
  animation-duration: 2.5s;
}

@keyframes setting {
  from {
    margin-right: -50px;
  }
  to {
    margin-right: 10px;
  }
}

.logo-setting {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
  width: min-content;
  margin-left: auto;
  margin-right: 0;
  cursor: pointer;
}

.logo-setting:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

/*CSS toggle switch colors sheme and CSS toggle switch milliseconds---------*/
ul.setting {
  display: none;
  background-color: var(--bg-color);
  padding-left: 5px;
  margin-top: 50px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px var(--shadow-color);
}

.theme-switch-wrapper,
.milli-switch-wrapper {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

em {
  margin-left: 2%;
  font-size: 0.9rem;
  opacity: 1;
}

.theme-switch,
.milli-switch {
  display: inline-block;
  height: 25px;
  position: relative;
  width: 60px;
}

.theme-switch input,
.milli-switch input {
  display: none;
}

.slider,
.slider2 {
  background-color: var(--slide-color);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before,
.slider2:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 17px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 17px;
}

input:checked + .slider,
input:checked + .slider2 {
  background-color: var(--slideB-color);
}

input:checked + .slider:before,
input:checked + .slider2:before {
  transform: translateX(34px);
}

.slider.round,
.slider2.round2 {
  border-radius: 34px;
}

.slider.round:before,
.slider2.round2:before {
  border-radius: 50%;
}

/*--------------------------------------------------------------------------*/

.layoutTime {
  z-index: 1;
}

.chrono {
  grid-area: timer;
  margin-top: 100px;
}

.timer {
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.1em;
  font-size: 10vw;
  user-select: none;
  cursor: pointer;
  animation-name: fade-effect;
  animation-duration: 2s;
}

@keyframes fade-effect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animatedPause {
  animation: opacityTimer 1.5s infinite;
}

@keyframes opacityTimer {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#hour,
#minute {
  color: var(--min-color);
}

#seconds {
  color: var(--sec-color);
  font-weight: normal;
}

#milliseconds {
  display: none;
  font-size: 0.6em;
  padding-top: 7%;
}

.buttonTime {
  display: block;
  margin-left: auto;
  margin-right: 8%;
}

.buttonTime:hover {
  box-shadow: 0 5px 5px var(--shadow-color);
}

.buttonTime:active {
  box-shadow: 0 0 0;
}

.perf {
  grid-area: tables;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 10px;
  overflow-y: auto;
}

table {
  display: none;
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 10px var(--shadow-color);
}

th {
  font-weight: bolder;
}

thead tr {
  background-color: var(--table-back-title-color);
  color: var(--min-color);
  height: 40px;
}

tbody tr th {
  border-top: 1px solid rgba(106, 123, 128, 0.2);
}

tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

td {
  user-select: none;
  border-top: 1px solid rgba(106, 123, 128, 0.2);
  color: var(--sec-color);
  height: 40px;
}

/*Layout for cellphone------------------------------------------------------*/

@media screen and (max-width: 576px) {
  @keyframes settingBrochureClose {
    from {
      opacity: 1;
      height: 23px;
    }
    to {
      opacity: 0;
      height: 0px;
    }
  }

  @keyframes settingBrochureOpen {
    from {
      opacity: 0;
      height: 0;
    }
    to {
      opacity: 1;
      height: 23px;
    }
  }

  ul.setting {
    width: 195px;
    margin-top: 40px;
  }

  .theme-switch,
  .milli-switch {
    height: 15px;
    width: 35px;
  }

  em {
    font-size: 8px;
  }

  input:checked + .slider:before,
  input:checked + .slider2:before {
    transform: translateX(18px);
  }

  .logo-setting {
    width: 30px;
    height: auto;
  }

  .slider:before,
  .slider2:before {
    left: 3px;
    bottom: 2px;
    height: 11px;
    width: 11px;
  }

  .buttonTime {
    font-size: 10px;
    width: 80px;
    margin-right: 55px;
  }

  thead tr {
    height: 30px;
  }

  td {
    height: 30px;
  }

  .perf {
    margin-top: 50px;
    font-size: 12px;
    max-height: 200px;
  }

  thead tr {
    height: 30px;
  }

  td {
    height: 30px;
  }
}

/*layout for desktop----------------------------------------------------*/

@media screen and (min-width: 768px) {
  @keyframes settingBrochureClose {
    from {
      opacity: 1;
      height: 37.5px;
    }
    to {
      opacity: 0;
      height: 0;
    }
  }

  @keyframes settingBrochureOpen {
    from {
      opacity: 0;
      height: 0;
    }
    to {
      opacity: 1;
      height: 37.5px;
    }
  }
  .layoutTime {
    display: grid;
    grid-template-areas: "timer tables";
  }
  .perf {
    margin-top: 130px;
    width: 250px;
    max-height: 400px;
  }

  .table {
    margin-left: auto;
    margin-right: auto;
  }
}
